<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
  <nav>
    <ul class="menu">
      <li><a href="index.html">Inicio</a></li>
      <li><a href="Somos.html">¿Quiénes somos?</a></li>
      <li><a href="/adopcion">Adopción</a></li>
      
      <li><a href="donaciones.html">Donaciones</a></li>
      <li><a href="/voluntariado" class="active">Voluntariado</a></li>
    </ul>
  </nav>
<hr>
